version: '3'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:alpine

    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
  
networks:
  default:
    ipam:
      config:
        - subnet: 172.185.0.0/16
