version: '3'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:alpine

    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
  
  www:
    image: nginx:1.16.1-alpine
    expose:
      - "80"
      - "8001"
    volumes:
      - ./config:/etc/nginx/conf.d
    environment:
      - VIRTUAL_HOST=sitio.local

  web:
    build: .
    command: gunicorn djangonginx.wsgi -b 0.0.0.0:8001
    expose:
      - "8001"
    volumes:
      - .:/code
  
  www-test:
    image: nginx:1.16.1-alpine
    expose:
      - "80"
      - "8002"
    volumes:
      - ./config:/etc/nginx/conf.d
    environment:
      - VIRTUAL_HOST=test.sitio.local

  web-test:
    build: .
    command: gunicorn djangonginx.wsgi -b 0.0.0.0:8002
    expose:
      - "8002"
    volumes:
      - .:/code

networks:
  default:
    ipam:
      config:
        - subnet: 172.185.0.0/16
