version: '3'

services:
  nginx:
    image: nginx:1.16
    ports:
      - "8000:8000"
    volumes:
      - ./config/nginx:/etc/nginx/conf.d
    depends_on:
      - web
  db:
    image: postgres
    ports:
      - "5432:5432"
  web:
    build: .
    command: gunicorn djangonginx.wsgi -b 0.0.0.0:8000
    volumes:
      - .:/code
    expose:
      - "8000"
    depends_on:
      - db

networks:
 default:
   ipam:
     config:
       - subnet: 172.185.0.0/16
